<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Url" value="http://mail.google.com" />
    <add key="Email" value="abachkayspare@gmail.com" />
    <add key="Password" value="abachkay142" />
    <!--<add key="Email" value="oleksandr.bachkai@gmail.com" />
    <add key="Password" value="ol/ba3525" />-->
    <add key="Timeout" value="15" />
    <add key="TestSubject" value="Test" />
    <add key="TestMessage" value="Test message" />
    <add key="InvalidTestMessage" value="Test message" />
  </appSettings>
</configuration>